.circle {
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
}

.circle:hover {
  opacity: 50%;
}

#circle-control {
  width: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 50%;
  left: 25%;
  position: fixed;
  z-index: 10;
}

#circle-control > input,
label,
button {
  margin: 5px;
}

#startButton {
  background-color: cadetblue;
  color: white;
}

.my-nav > a {
  z-index: 10;
}
