body {
  background-image: url("../images/movie-review/background.png");
  margin: 0%;
}

#header {
  background-image: url("../images/movie-review/bannerbg.png");
  display: grid;
  place-items: center;
}

#nav {
  margin: 0.5%;
}

#content {
  display: grid;
  place-items: center;
}

#side-footer {
  float: right;
  display: flex;
  flex-direction: column;
}
