body {
  color: #404040;
  background-color: #ffffff;
  font-size: 11pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2%;
}

a {
  color: #a4a400;
}

header,
article {
  border-bottom: solid;
  border-color: #000000;
}

header > div {
  margin: 1% 0%;
}

h1 {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
}

h1,
h2 {
  color: #a4a400;
  background-color: #f0f0f0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: 18pt;
}

#section-directions p span {
  text-decoration: line-through;
}

#section-footer > ul {
  list-style-type: none;
  padding-left: 0%;
}
