body {
  color: #404040;
  background-color: #ffffff;
  background-image: url("../images/recipe/silverware.jpg");
  font-size: 11pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2%;
}

a {
  color: #a4a400;
}

header,
article {
  border-bottom: solid;
  border-color: #000000;
}

header > div {
  margin: 1% 0%;
}

h1 {
  text-align: center;
}

h1 span {
  font-size: 22pt;
  font-weight: bold;
}

.pie-bullet-list {
  list-style: url("../images/recipe/pie_bullet.png");
}

h1,
h2 span {
  color: #a4a400;
  background-color: #f0f0f0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: 18pt;
  letter-spacing: 0.26em;
}

#section-directions p span {
  text-decoration: line-through;
}

#section-comments > ul {
  list-style-type: none;
  padding-left: 0%;
  margin-bottom: 2%;
}

#section-comments .comments-reviews {
  margin-left: 5%;
  background-color: #ffffa8;
}

#section-footer > pre {
  margin-bottom: 2%;
}
