body {
  margin: 0px;
  background-color: gainsboro;
}

header {
  background-image: url("../images/cebu.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 83%;
}

footer {
  background-color: gray;
  padding: 10px 25px;
}

section {
  margin: 0px 20px 20px 20px;
}

section > h1 {
  margin-top: 0px;
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 55px 0px 20px 20px;
}

.copyright {
  font-weight: bold;
}

ul {
  list-style: none;
}

aside {
  float: right;
  margin: 15px 0px 15px 15px;
  padding: 15px 0px 15px 15px;
}
