
        body {
            margin: 0;
            padding: 0;
            background-color: gainsboro;
        }

        header {
            background-image: url('../images/cebu.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        section {
            margin: 20px;
        }

        footer {
            background-color: gray;
            padding: 10px 5px;
        }

        .avatar {
            vertical-align: middle;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 15px;
        }

        .copyright {
            font-weight: bold;
        }