form {
  margin: 3%;
}

.my-navbar {
  background-color: #7abbff;
  padding-right: 1%;
}

.navbar-links {
  color: #eff9f9;
}

.form-columns {
  margin: 3%;
}

.form-actions {
  text-align: right;
}

.my-btn-outline-secondary {
  border-color: #808080;
  margin: 1%;
}

.my-btn-outline-danger {
  border-color: #dc143c;
  margin: 1%;
}

.my-btn-outline-info {
  border-color: #7abbff;
  margin: 1%;
}
